body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#candidate-form {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid #E89131;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#candidate-form input, #candidate-form button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #E89131;
    border-radius: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
}

#candidate-form input[type="color"] {
    padding: 0;
    height: 40px;
}

#candidates-list {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid #E89131;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.candidate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #E89131;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    box-sizing: border-box;
}

.candidate .name {
    flex: 1;
    text-align: left;
}

.candidate .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.candidate .points {
    margin: 0 10px;
}

.candidate button {
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid #E89131;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

#chart-container {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid #E89131;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    background-color: #fff;
    border: 2px solid #E89131;
    border-radius: 15px;
    padding: 10px;
}

.bar {
    margin: 5px 0;
    height: 30px;
    background-color: #333;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    position: relative;
}

/* Para los botones grandes al final */
#final-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#final-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #E89131;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}

.bar .bar-text {
    position: absolute;
    left: 10px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}